@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'Genshin';
  src: url('./assets/zh-cn.ttf');
}

:root { 
  --light-gold-rgb: 255 217 0;
  --dark-gold-rgb: 215 147 23;
  
  --primary-stripe-rgb: 230 230 230;
  --secondary-stripe-rgb: 240 240 240;
}

body {
  background: whitesmoke;
}

.flipCardBase {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.flipping {
    transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
}

#star-container {
  height: 100vh;
  overflow: auto;
  position: relative;
  background: radial-gradient(rgb(var(--light-gold-rgb)), rgb(var(--dark-gold-rgb)));
}

#star-pattern {
  background-image: url("./assets/star.svg");
  background-size: 10%;  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  opacity: 0.15;
  width: 100%;
  height: 100%;
  animation: star-pan 200s linear infinite;
  will-change: background-position;
}

#star-gradient-overlay {
  background: radial-gradient(circle, transparent 50% , rgb(var(--dark-gold-rgb)));
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
}

@keyframes star-pan {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}